<%= form_tag('/tweets/find' , :method => "post")  do  %>

<div><b>Please enter the coordinates from where you wish to find the tweets</b></div>
  <div class="field">
    <%= label_tag :longitude %><br />
    <%= text_field_tag :longitude %>
  </div>
  <div class="field">
    <%= label_tag :latitude %><br />
    <%= text_field_tag :latitude %>
  </div>
  <div class="actions">
    <%= submit_tag 'Find Tweets' %>
  </div>
<% end %>
